# Dependencias (NO subir)
node_modules/
.npm/
.yarn/

# Next.js
.next/
out/
build/

# Base de datos
*.db
*.db-journal
prisma/*.db
prisma/*.db-journal

# Config local
.env
.env.local
.env*.local

# Archivos temporales
*.log
.DS_Store
